[2020-03-22 13:51] adroitwhiz opened #575 ""color () is touching ()" block does not work properly on ghosted sprites"
### Expected Behavior

When the "color () is touching ()" block is used, the ghost effect of the sprite calling it should not affect the result.

### Actual Behavior

If the sprite calling "color () is touching ()" has a ghost effect applied, the first argument to "color () is touching()" (the color mask to be applied to the sprite) will be incorrectly darkened, meaning that it will not match prop

[2020-03-22 15:18] adroitwhiz opened #577 "Text bubbles are counted for "touching color" purposes in 3.0, but not in 2.0"
In Scratch 2.0, text bubbles don't count for the purposes of "touching color" blocks, e.g. if a sprite is touching a text bubble, that doesn't count as touching white or grey or any other color on that text bubble; they are ignored completely.

In Scratch 3.0, however, "touching color" blocks can return true if the sprite is touching a text bubble's color.

This raises the question: should this be

[2020-03-24 14:39] BryceLTaylor commented on #575
[Here's a project](https://scratch.mit.edu/projects/379141794/) I made in scratch 2.  It has a different behavior in scratch 2 vs. 3.

In scratch 2 a ghosted cat with the "color touching color" block still reports true if the sprite is touching the other color.

[2020-03-24 15:09] BryceLTaylor commented on #573
[Here's a project](https://scratch.mit.edu/projects/379155154/) that clearly shows the bug.

Note that if you put the mouse over the pixelated cat outside the original's outline it reports false and if you put the mouse inside the outline it reports true.

[2020-03-26 09:16] adroitwhiz opened #578 ""Touching color" blocks on CPU path don't apply brightness or color effects properly"
### Expected Behavior

"Touching color" blocks should accurately test for the colors displayed on the stage.

### Actual Behavior

The brightness and color effects aren't accurately applied on the CPU path (used by the two "touching color" blocks).

On the GPU, the brightness effect is implemented by adding to or subtracting from the RGB pixel values. On the CPU, however, it is implemented by incr

[2020-03-26 09:16] adroitwhiz commented on #535
Closing in favor of the more detailed #578

[2020-03-26 09:16] #535 closed

[2020-03-28 18:28] adroitwhiz opened #579 "Brave's anti-canvas-fingerprinting behavior may subtly break "touching color""
### Expected Behavior

Blocks like "touching color" should function properly and consistently in all browsers.

### Actual Behavior

Apparently, [Brave slightly randomizes the pixel values returned from `getImageData`](https://github.com/whatwg/html/issues/5373#issuecomment-601472068). Since `getImageData` is used both to upload textures to the GPU and for `Silhouette`s, this could result in pixel

[2020-03-29 06:00] apple502j commented on #579
Scratch does not support Brave, so this can be ignored. My question is if it does so on the other browser that also has strict anti-fingerprinting - and is also supported by Scratch - yes, Firefox.

[2020-04-02 18:24] #551 closed

[2020-04-02 18:50] adroitwhiz commented on #571
I think this was fixed by https://github.com/LLK/scratch-vm/pull/2314.

[2020-04-02 21:35] adroitwhiz commented on #465
I think #580 fixes this

[2020-04-06 18:42] BryceLTaylor commented on #579
As we do not support the Brave browser I'm closing this issue.  Also, please only open issues for problems you have actually experienced, not that could theoretically happen.

[2020-04-06 18:42] #579 closed

[2020-04-11 01:07] adroitwhiz opened #584 "Silhouettes consume high amounts of RAM"
### Expected Behavior

Scratch should not consume excessive RAM, in order to be usable on devices with low amounts of it.

### Actual Behavior

Because of the way GPUs' pipelines work, reading data back from the GPU is slow, which could potentially bottleneck blocks like "touching sprite" and "touching color" which require reading and processing color data.

To mitigate this, scratch-render implem

[2020-04-22 14:44] BryceLTaylor commented on #427
I'm copying this over from #547 which I'm going to close as a duplicate:

The second costume will draw in a slightly different place so that switching between the costumes quickly causes it to "jitter."

![jitter](https://user-images.githubusercontent.com/1088291/72648375-e32c9600-3948-11ea-8193-ad2554d56fd1.gif)

Here is a project that shows this issue that came from the community: https://scratc

[2020-04-22 14:45] BryceLTaylor commented on #547
I copied my repro steps over to #427 .  Closing this issue as a duplicate.

[2020-04-22 14:45] #547 closed

[2020-04-24 18:59] #546 closed

[2020-04-24 20:02] adroitwhiz opened #587 "Run tests on both the CPU and GPU again"
Unit tests should be run on both the CPU and GPU implementations of the "touching" functions to ensure that they both function properly. This was done in #419, but was later reverted.

This is blocked on:
- #576 - without this merged, the touching color test will fail on the CPU.
- #577 - there's currently an "is not touching text bubble" test that will fail on the GPU. Text bubble behavior needs

[2020-04-25 23:46] adroitwhiz opened #589 "Pen dots in the lower right quadrant are not drawn on iOS Safari"
### Expected Behavior

Pen dots should always be drawn

### Actual Behavior

On iOS Safari, pen dots are not drawn in the lower right quadrant-- pen lines render fine:
![293F441E-3339-46D0-B4CD-191C97E4AD17](https://user-images.githubusercontent.com/25993062/80293417-32931700-872d-11ea-9f9e-d578703572fd.png)
(Screenshot taken from [this project](https://scratch.mit.edu/projects/388753987/))

### S

[2020-04-27 18:30] BryceLTaylor commented on #589
I was able to reproduce a similar effect, except I was not able to produce pen dots anywhere on the entire stage on iOS Safari.  That is on an iPad mini 4 running iOS 12.4.1

@adroitwhiz when writing reproduction steps can you create a new project and describe the steps you take to produce the project that shows the issue?  That project is relatively complex and hard to see what parts are necessar

[2020-04-28 03:23] apple502j commented on #589
@BryceLTaylor this should work as repro:
when gf clicked
forever
go to random position
pen down
pen up

[2020-05-04 18:22] adroitwhiz opened #592 "Convex hulls should be calculated in texture space, not "native size" space"
### Expected Behavior

To ensure maximum accuracy, skins' convex hulls should be calculated in texture-space by going over each texel. This will also ensure fencing compatibility with Scratch 2.0.

### Actual Behavior

Currently, convex hulls are generated at the "native size" of the skin. For bitmap skins, this is half their resolution, and that leads to certain inaccuracies when generating conve

[2020-05-04 20:48] adroitwhiz opened #593 "Test the software rendering pipeline's results by comparing them to the GPU"
### Expected Behavior

There should be a way to automatically ensure that the CPU and GPU renderer produce the same results.

### Actual Behavior

Currently, the only way to ensure that the CPU and GPU render the same image is by testing their "touching sprite" and "touching color" behavior in the integration tests. Unfortunately, this allows [many](https://github.com/LLK/scratch-render/pull/479)

[2020-05-05 19:30] adroitwhiz opened #595 "Pen lines over ~100 pixels long will not render on (some?) Android devices"
### Expected Behavior

All pen lines should show up.

### Actual Behavior

On (certain?) Android devices, lines over ~100 pixels long will not be drawn:
![image](https://user-images.githubusercontent.com/25993062/81107165-ba72e100-8ee4-11ea-8792-114d63562df0.png)

### Steps to Reproduce

1. Create a project
2. Add the pen extension
3. Click "pen down"
4. Make the active sprite move >100ish steps
5

[2020-05-05 19:39] #571 closed

[2020-05-06 15:49] BryceLTaylor commented on #589
We received a help desk ticket (number 216463) that I think is about this issue.  Just putting this here so I can find it again later if necessary.

[2020-05-06 20:38] #589 closed

[2020-05-07 16:43] adroitwhiz commented on #595
This is still appearing on certain Android devices to a lesser degree

[2020-05-07 17:47] apple502j commented on #595
repro on forum by Chromebook user: https://scratch.mit.edu/discuss/post/3992783/

[2020-05-07 19:28] #473 closed

[2020-05-07 19:43] #446 closed

[2020-05-07 19:43] #477 closed

[2020-05-08 05:16] apple502j opened #599 "Pen line thickness changes depending on the length"
### Expected Behavior
When `set pen size to (1)` is called, all pen lines should be size 1

### Actual Behavior
The thickness is inconsistent

On Windows 10, Firefox 76:
![image](https://user-images.githubusercontent.com/33279053/81372612-c4d7e980-9135-11ea-9e0b-8ae8c3b81dec.png)

[Repro by hclhcl](https://scratch.mit.edu/projects/393134600/), probably taken on iOS:
![image](https://user-images.gi

[2020-05-08 19:47] #564 closed

[2020-05-08 20:09] cwillisf opened #601 "Integration tests aren't set up correctly on CI"
### Expected Behavior

Integration tests should run with dev dependencies installed.
Any problem occurring inside the integration tests should cause tests to fail.

### Actual Behavior

This is example output from a recent CI build:
[code]

This is Playwright failing to launch Chrome because it's not installed. Since Playwright is listed under `devDependencies` and `NODE_ENV=production` is set as

[2020-05-08 20:20] cwillisf commented on #601
@adroitwhiz pointed out that we use `npm --production=false install` and `npm --production=false update` so dev dependencies should be installed -- meaning that my guess about why Chrome isn't available to Playwright is not accurate. I still stand by my claim that something's wrong with the integration test configuration, though... :)

[2020-05-11 17:15] BryceLTaylor commented on #599
The size of the stage seems to affect this on mac for both chrome and firefox.  If you make the browser window small enough that the stage reduces to the smaller size, every other line disappears in that project.
![Screen Shot 2020-05-11 at 1.14.19 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/f2abf04a-0dc0-43d9-8c27-264c89d1c4c1/Screen+Shot+2020-05-11+at+1.14.19+PM.png)

[2020-05-11 17:16] adroitwhiz commented on #599
@BryceLTaylor The resizing/small stage making lines disappear is just #565 manifesting again.

[2020-05-11 17:26] BryceLTaylor commented on #599
Also, I don't think it's an issue with the length of the line.  I believe that the position on the screen is affecting the line thickness.  I have made a remix of the project here: scratch.mit.edu/projects/394181361

In it I made all the lines draw at the same length and the same behavior is visible as it relates to line thickness.

[2020-05-11 17:30] BryceLTaylor commented on #599
I believe this is related to this issue, which is about the way that pen lines are drawn on the smaller stage: https://github.com/LLK/scratch-render/issues/565

[2020-05-11 17:33] BryceLTaylor commented on #599
It is also related to this bug, but that has to do more with stamping: https://github.com/LLK/scratch-render/issues/558

[2020-05-11 17:35] BryceLTaylor commented on #599
I think I'm just going to close this one as a duplicate of #565.  The manifestation is slightly different, but I believe they are the same root cause.

[2020-05-11 17:35] #599 closed, assigned to nobody

[2020-05-11 17:38] adroitwhiz commented on #599
The pen size changing depending on the stage position on iOS is definitely a separate issue-- the pen line shader code is misbehaving. I rewrote it in #600 and a demo is up on https://adroitwhiz.github.io/scratch-gui/bryces-devices/ -- can you check if the issue is gone there?

[2020-05-11 18:59] BryceLTaylor commented on #595
@apple502j That forum post shows an issue that seems to have been fixed by the deploy last week.  I think they were seeing a different issue.  The problem shown by this issue was definitely NOT fixed by last week's deploy, though.

[2020-05-11 19:50] #601 closed, assigned to cwillisf, adroitwhiz

[2020-05-11 20:29] #575 closed

[2020-05-12 20:24] #587 closed

[2020-05-16 21:38] adroitwhiz opened #620 "Should vector skins/costumes always be rendered with a resolution greater than their screen-space dimensions?"
### Expected Behavior

Vector skins/costumes should appear sharp at all scales.

### Actual Behavior

Vector skins are internally represented by a series of textures at various resolutions. These textures are allowed to appear on-screen at up to 1.5x their resolution, meaning that at worst, 1 "texture pixel" will be magnified to 1.5 "screen pixels". This results in vector sprites often appearing b

[2020-05-19 20:33] adroitwhiz opened #623 "Current CPU render code relies on implicit behavior"
### Expected Behavior

The `isTouchingDrawables` and `isTouchingColor` functions should update the target drawable's silhouette and inverse matrix, as they require them to be up-to-date in the first place.

### Actual Behavior

Those functions currently rely on the `_touchingBounds` function updating those properties on the target drawable. `_touchingBounds` is called by `_candidatesTouching` whic

[2020-06-04 18:28] kchadha commented on #620
@cwillisf @fsih @adroitwhiz, assigned this to you for discussion (and then documenting here)

[2020-06-04 18:51] adroitwhiz commented on #620
The fix itself is quite easy to implement-- I already have it up in a branch:
https://adroitwhiz.github.io/scratch-gui/no-vector-blur/

The hard part is benchmarking across devices to make sure the increased RAM usage is acceptable (and figuring out what "acceptable" means).

[2020-06-04 20:03] fsih commented on #364
We did it

[2020-06-04 20:03] #364 closed

[2020-06-04 20:03] fsih commented on #364
There's still cleanup though

[2020-06-04 21:00] #567 closed

[2020-06-05 14:28] GrahamSH-LLK opened #635 "Gradient Outlines Glitched"
### Expected Behavior

Gradient outlines should look the same unless you change them. Also, they should look the same in the stage as they do in the paint editor.
### Actual Behavior

Sometimes, moving a shape will change what a gradient looks like. Also, the stage doesn't always match the colors of the paint editor.
### Steps to Reproduce
See [this](https://scratch.mit.edu/projects/402177554/edit

[2020-06-05 14:53] adroitwhiz commented on #635
This is a duplicate of https://github.com/LLK/scratch-svg-renderer/issues/142 which I specifically made that test project for. https://github.com/LLK/scratch-svg-renderer/pull/143 fixed it.

[2020-06-05 14:53] #635 closed, assigned to nobody

[2020-06-05 19:50] GrahamSH-LLK commented on #635
@adroitwhiz That issue doesn't explain the changing of the gradients when moved. Is that fixed by  LLK/scratch-svg-renderer#143?

[2020-06-05 19:53] adroitwhiz commented on #635
Yes.

[2020-06-09 19:21] #595 closed, assigned to nobody

[2020-06-10 20:24] fsih commented on #488
Since I don't think we should keep the ship-it-yellow behavior, let's decide that touching white should be true when touching the background color. I think that's the most reasonable thing for a beginner to expect, and anyone who is relying on the current behavior is probably really confused by what we're doing

[2020-06-10 20:27] fsih commented on #488
Side note: we should search for how many projects are using touching color F0F080 in jupyter

[2020-06-11 16:06] fsih opened #639 "Costumes are cut off at the bottom and right on the stage"
### Expected Behavior
Whole costume should show

### Actual Behavior
A couple pixels get cut off on the bottom and right
<img width="975" alt="Screen Shot 2020-06-11 at 12 05 35" src="https://user-images.githubusercontent.com/2855464/84410168-e5371000-abdb-11ea-8eb6-9f0d01d53e68.png">

### Steps to Reproduce
Draw a costume, and look carefully at the bottom and right edges

### Operating System and

[2020-06-11 16:09] #465 closed

[2020-06-11 16:11] fsih commented on #639
Perhaps this bug is the cause of the one remaining issue on https://github.com/LLK/scratch-render/issues/434 (which is now fixed for all line widths except 1px wide)

[2020-06-11 19:49] fsih opened #640 "Pick could be more efficient if it checked if candidate bounding boxes hit the mouse before checking actual pixels"
### Expected Behavior
Pick is efficient

### Actual Behavior
Pick is _okay_

[2020-06-15 05:14] RexScratch opened #642 "Some pen strokes result in large, blurred circles on iPhone Safari"
### Expected Behavior

Pen strokes should not result in large, blurred circles.

Example:
![IMG_0032](https://user-images.githubusercontent.com/47719663/84619862-fca42080-ae9b-11ea-85a7-ea0d627b6da1.jpeg)

### Actual Behavior

Pen strokes often result in large, blurred circles.

Example:
![IMG_1562](https://user-images.githubusercontent.com/47719663/84619926-2a896500-ae9c-11ea-97e1-99c386932d1f.jp

[2020-06-15 05:18] apple502j commented on #642
KimiruHamiru said it happens when the pen is down while the sprite x or y is not integer: see https://scratch.mit.edu/discuss/post/4123687/
repro project: https://scratch.mit.edu/projects/404686504/
on iPad:
![image](https://user-images.githubusercontent.com/33279053/84620466-087ef980-af13-11ea-921a-9384f8e3dfcf.png)

[2020-06-15 05:29] RexScratch commented on #642
(Using Google Translate)

They mentioned using a iPad Mini 5, which is interesting because I couldn’t reproduce this issue on a 2019 iPad. The iPhone XS and iPad Mini 5 both have the A12 Bionic SoC, whereas the 2019 iPad has the A10 Fusion SoC.

[2020-06-15 05:58] RexScratch commented on #642
It does seem that precision plays a role, since not all non-integer coordinates cause this issue:
https://llk.github.io/scratch-gui/develop/#404937682

When the x-coordinate is offset by -0.25 or -0.5, the issue doesn’t occur. However, when the x-coordinate is offset by -0.1, the issue does occur.

[2020-06-15 19:36] fsih commented on #642
It's also reproing on iPhone 8, but not on iPad mini 4

[2020-06-15 20:09] #640 closed, assigned to nobody

[2020-06-17 13:29] tutacat commented on #620
@adroitwhiz Have you also looked at why the vector sprites have odd cropping?
(e.g. a single straight won't display, and a single line sometimes gets chopped somewhere)

[2020-06-17 13:45] apple502j commented on #620
@tutacat https://github.com/LLK/scratch-svg-renderer/pull/85#issuecomment-639100645

[2020-06-17 13:47] adroitwhiz commented on #620
@tutacat If you're talking about https://github.com/LLK/scratch-render/issues/639 or https://github.com/LLK/scratch-render/issues/427, that'll be fixed by https://github.com/LLK/scratch-render/pull/594

[2020-06-22 20:19] fsih commented on #620
Discussion:
- It's very difficult to instrument the VRAM usage of graphics cards, so we probably wouldn't be able to do that
- We can use the built-in profiler on browsers to look at the total RAM usage and compare before and after
- We have a maximum texture size in the renderer that we wouldn't go above, so this wouldn't affect very large textures, only the average size of textures
- We recommen

[2020-06-22 21:16] fsih commented on #620
Next steps

@adroitwhiz do you have the PR for https://adroitwhiz.github.io/scratch-gui/no-vector-blur/ up somewhere for us to look at?

@BryceLTaylor could you run a project with a lot of vector sprites on a Raspberry Pi and compare if it's noticeably worse on https://adroitwhiz.github.io/scratch-gui/no-vector-blur/ vs prod?

[2020-06-22 21:31] adroitwhiz commented on #620
Just created a PR for this change: https://github.com/LLK/scratch-render/pull/649

[2020-06-25 20:11] fsih commented on #584
/cc @cwillisf @fsih

[2020-07-09 20:06] fsih opened #656 ""Is Touching" behavior can be different on devices with different pixel densities/after going to full screen and back"
This is the issue seen in https://github.com/LLK/scratch-render/issues/432, but the PR that was reverted did not fix the issue.

### Expected Behavior
Load https://scratch.mit.edu/projects/409952654/editor/ on many devices
All devices should have the same behavior

### Actual Behavior
Some of the devices say hello when you play the project, some don't

### Steps to Reproduce
Load https://scratch.m

[2020-07-09 20:27] BryceLTaylor commented on #656
@fsih Do you have an idea of which types of devices have undesirable behavior?  We're trying to get an idea of impact.

[2020-07-09 20:59] fsih commented on #656
@BryceLTaylor we think that all devices should probably act as if isTouching and isTouchingColor are being run on a 480x360 sized project screen. In that case the devices with device pixel ratio = 1, at normal screen size, are the only ones doing the right thing right now (the cat does not say hello in the touching bread project) and all higher dpi devices, and any device that has been put into fu

[2020-07-09 21:03] adroitwhiz commented on #656
IIRC we actually figured out that the cat should always count as touching the bread (at least, it does on my branch), but somehow does not currently. At the very least it should count as touching the bread when you use the "touching sprite" block

[2020-07-09 21:04] griffpatch commented on #656
I am all for deterministic is touching :) - Good move!

On Thu, 9 Jul 2020 at 22:00, DD Liu <notifications@github.com> wrote:

[2020-07-09 21:10] fsih commented on #656
@adroitwhiz's branch is fixing some issues with isTouching, but I think with the isTouching code as it is now, we want everything to match the case on a 1:1 device pixel ratio with normal sized screen case, where the cat doesn't touch the bread

[2020-07-10 17:52] fsih opened #657 "Giant sprites get cut off when dragged"
### Expected Behavior
???
In Scratch 2.0 you see the whole sprite when you're dragging and it takes up all the space
![drag large](https://user-images.githubusercontent.com/2855464/87183648-80430880-c2b4-11ea-8d7f-fb91096b24aa.gif)

### Actual Behavior
Large sprites get cropped when dragging
![drag large 2](https://user-images.githubusercontent.com/2855464/87184392-ec723c00-c2b5-11ea-9811-0fcb584a

[2020-07-12 01:49] MineUp1000 commented on #642
K, I noticed this glitch occurred recently and made a forum about it, but thankfully I was given <a href="https://github.com/LLK/scratch-render/issues/642/">this link</a>!!!
(Thanks @apple502j). I think that this glitch occurred at the same time the <a href="https://scratch.mit.edu/discuss/topic/414997/">Fullscreen Glitch</a> Occurred

### **EDIT**

This <a href="https://llk.github.io/scratch-gui/

[2020-07-14 02:30] RexScratch commented on #642
The only thing that test shows about costumes is that costumes can affect the sprite's position, which is already well-known.

[2020-07-14 20:22] #488 closed

[2020-07-14 21:01] BryceLTaylor commented on #620
I tested the branch on a Raspberry Pi 4 by playing a MAP (https://scratch.mit.edu/projects/398958757/).  On production after 20 or so seconds of playing the project the whole computer became unresponsive.  The mouse cursor moved several seconds after I had tried moving it, and then eventually stopped moving altogether.  I had to restart the whole machine.
On the branch it played fine for ~2 minute

[2020-07-21 20:06] adroitwhiz opened #663 ""touching (sprite)" could be faster"
Now that we have one central function in which we update CPU render pipeline attributes for a single drawable, we can move the "use nearest neighbor or not" check into that function instead of doing it once per pixel.

[2020-07-21 20:08] #294 closed

[2020-07-21 20:08] #657 closed, assigned to nobody

[2020-07-22 15:09] Explosion-Scratch commented on #663
Ooh, this would be great! It would be awesome to have this be faster, could touching color be faster as well?

[2020-07-23 06:02] adroitwhiz commented on #663
It looks like "touching color" also calls `isTouching`, so it will also be improved by #664 (about 50% faster in my testing).

[2020-07-23 12:12] Explosion-Scratch commented on #663
@androitwhiz That's super cool! Thanks for working on these! (I actually avoid using touching color a lot because of it's slow speed, I guess I don't have to anymore!)

[2020-07-23 20:42] #642 closed, assigned to adroitwhiz

[2020-07-23 21:04] #663 closed, assigned to nobody

[2020-08-02 21:21] RexScratch opened #670 "Extremely long pen lines are drawn incorrectly on certain iOS devices"
### Expected Behavior

Extremely long pen lines (those that are hundreds of thousands of pixels long) should be drawn correctly on all devices.

### Actual Behavior

Extremely long pen lines are not drawn correctly on the two iOS devices I tested. The Windows laptop drew these lines as expected.

Laptop on Windows 10 2004 with i7-1065G7 processor and integrated graphics on Edge 84.0.522.50:
![PenW

[2020-08-02 21:40] RexScratch opened #671 "Pen anti-aliasing is inconsistent on iOS devices"
### Expected Behavior

A pen line that has the same pen size and color and dimensions as another pen line but is translated by an integer number of pixels should have antialiasing that is identical to the other pen line (or close enough to not be noticeable).

### Actual Behavior

Vertical lines that are an integer number of pixels apart have differing antialiasing on the two iOS devices I tested.

[2020-08-04 21:17] #533 closed

[2020-08-04 21:17] #620 closed, assigned to fsih, cwillisf, adroitwhiz

[2020-08-17 19:13] #578 closed

[2020-08-17 19:18] cwillisf opened #678 "RGB/HSV color conversion functions should be covered by unit tests"
### Expected Behavior

The `rgbToHsv` and `hsvToRgb` color conversion functions in `EffectTransform.js` should be included in unit tests.

### Actual Behavior

Currently those functions are not tested. They're also not exported, which will be necessary to add tests.

[2020-08-17 19:39] #573 closed

[2020-08-20 19:22] #577 closed

[2020-08-20 19:25] fsih opened #679 "Break out cpu-specific and gpu-specific code from RenderWebGL.js file"
The renderer may use the CPU or GPU depending on the processing power of the machine it's running on. There is a bunch of code that does the same stuff for the CPU and GPU paths, e.g. implementation of touching color. Many bugs come from the fact that these 2 paths are out of sync

It's difficult to parse RenderWebGL.js and easily see which code is shared by both paths, which functions are CPU spe

[2020-08-20 19:46] fsih opened #680 "scratch-render tests fail locally on node 12"
### Expected Behavior
Tests should pass regardless of node version

### Actual Behavior
Tests fail, something about requizzle

### Steps to Reproduce
`npm run test` in scratch-render
<img width="670" alt="Screen Shot 2020-08-20 at 15 43 17" src="https://user-images.githubusercontent.com/2855464/90817879-39592180-e2fc-11ea-8a8c-9094e3a36360.png">

### Operating System and Browser
Mac OSX

[2020-08-20 19:47] fsih commented on #680
It's working for @cwillisf on Windows 🤔

[2020-08-21 14:39] cwillisf commented on #680
Looks like we just need to update jsdoc so we get a newer requizzle: hegemonic/requizzle#5

[2020-08-27 21:09] fsih opened #687 "Write a test for touching mouse/not touching mouse/not touching color"
These are things that broke recently

[2020-08-27 21:09] #680 closed, assigned to nobody

[2020-08-27 21:25] fsih opened #688 "Drawable's rotation is not 0 when the drawable is not rotated"
### Expected Behavior
The drawable's rotation should be 0 by default

### Actual Behavior
The stage, shouldn't be able to be moved, scaled, or rotated in any way. Its matrix should be the identity, and hence its inverse matrix should be the identity. However, you can see here that some of the entries that are supposed to be 0 are as large as -.002, which is a pretty high error.
<img width="494" al

[2020-09-24 20:45] BryceLTaylor commented on #688
@fsih What is the user facing problem with this?

[2020-10-29 19:25] #450 closed

[2020-10-29 19:49] #623 closed, assigned to nobody

[2020-10-30 03:09] mitnerd commented on #620
This bug is linked to this fix but it's still not fixed.  Can 5886 be reopened?
https://github.com/LLK/scratch-gui/issues/5886

[2020-11-04 21:30] cwillisf opened #719 ""is touching" reporting false negatives on tiny tests"
### Expected Behavior

`is touching` tests should not depend on the size of the objects in question or the size of the stage

### Actual Behavior

This project behaves differently on staging vs production:
* Production: scratch.mit.edu/projects/445335326
* Staging: 1300006793

As of this test, the two environments differ only by these two changes:
* LLK/scratch-render#557
* LLK/scratch-render#624

[2020-11-05 02:48] cwillisf commented on #719
After further testing, I think this is an existing issue that isn't specifically related to #557 or #624. In particular, I've tried this test project on many versions, going back into September, and I get "wrong" (always "false") results on all versions I've tested.

Here's the test project I've been using, from @BryceLTaylor (rename to SB3):
[Touching Color.zip](https://github.com/LLK/scratch-ren

[2020-11-05 03:00] fsih commented on #719
I found that if I save the staging project to my computer, then re-upload it to scratch.mit.edu, it also always shows false. And vice versa, if I save the scratch.mit.edu project to my computer, and re-upload it to staging, it also shows true when I'm over the dot. I think the two projects are different

[2020-11-05 03:03] fsih commented on #719
The not touching project on scratch.mit.edu:
![dot2](https://user-images.githubusercontent.com/2855464/98192704-81461880-1ee9-11eb-84c7-df479bee38d2.gif)
The touching project on scratch.ly:
![dot](https://user-images.githubusercontent.com/2855464/98192705-81deaf00-1ee9-11eb-9060-746792c0df78.gif)

[2020-11-05 03:12] fsih commented on #719
The two purple dot costumes do differ
<img width="1087" alt="Screen Shot 2020-11-04 at 22 07 47" src="https://user-images.githubusercontent.com/2855464/98193215-a8e9b080-1eea-11eb-8c16-9b0864d4cef2.png">
Here's a project where you can switch between them and change the touching behavior (on either staging or prod)
https://scratch.mit.edu/projects/445446223/editor
I guess the slight translation mak

[2020-11-05 03:13] fsih commented on #719
tangentially, what's up with those NaNs

[2020-11-05 03:16] cwillisf commented on #719
Thanks for figuring this out!

Also: I feel like "what's up with those NaNs" is the topic about 90% of the time when NaN comes up in a conversation.

[2020-11-05 18:33] BryceLTaylor commented on #719
I'm not sure how those costumes became different.  I just downloaded the project from staging and uploaded it to production without changing it.

[2020-11-05 19:41] cwillisf commented on #719
Yeah - it seems possible that we have another bug in here related to costumes' bounds being slightly different on initial save vs. import & save again. Maybe the fix-up code that we run on import can cause small errors like this.

[2020-11-09 21:36] adroitwhiz opened #721 "`updateDrawableProperties` is dead code"
### Expected Behavior

There should not be dead code in the codebase

### Actual Behavior

The `updateDrawableProperties` function has been completely phased out. #469 added individual `update` functions for each property, and https://github.com/LLK/scratch-vm/pull/2329 removed the last of the calls to `updateDrawableProperties`, replacing them with the new `update` functions.

As such, `updateDra

[2020-11-11 04:28] adroitwhiz opened #731 "Uploading textures via ImageData is slower than doing it via regular images"
### Expected Behavior

The renderer should do things the fast way

### Actual Behavior

In order to upload images' texture data to the GPU (from main memory), we first extract the image data from the image using `getImageData`, then pass the image data to `texImage2D`, the function which uploads the data to the GPU.

This change was introduced in #414, because it was supposedly faster than passing

[2020-11-12 19:28] BryceLTaylor commented on #731
@adroitwhiz can a user see or experience this as a problem?  What do they see if they do?

[2020-11-13 01:15] adroitwhiz commented on #731
This may impact loading performance/RAM usage. #414 was never benchmarked, so I'm not sure how significant it is.

Generation of "mipmaps" for SVG costumes (re-rendering them at higher resolutions) may also become faster if this is fixed.

[2020-11-13 21:03] #565 closed

[2020-11-18 21:52] benjiwheeler commented on #550
This is another manifestation of the problem, or maybe a slightly different problem: sometimes jagged alias lines appear, or disappear, as a result of slightly modifying the image

![smooth render med](https://user-images.githubusercontent.com/3431616/99592510-51eddc00-29be-11eb-892f-ba751bd8f265.gif)

[2021-03-02 20:40] #678 closed, assigned to nobody

[2021-03-04 16:00] adroitwhiz opened #814 "JSDoc for `SVGSkin.resetMIPs` is incorrect"
### Expected Behavior

The code's documentation should be correct

### Actual Behavior

It looks like a mismanaged merge somewhere when introducing SVG skin mipmaps led to some of the JSDoc being transferred from `setSVG` to `resetMIPs`. This happened in https://github.com/LLK/scratch-render/commit/f17252624e1e3b5bcf3acf8641bf570d4799af22.

[2021-03-05 10:22] adroitwhiz opened #816 "extractDrawable is dead code"
### Expected Behavior

The codebase should not contain dead code

### Actual Behavior

The `extractDrawable` method is deprecated and has been unused since https://github.com/LLK/scratch-gui/pull/5513, and can now be removed.

[2021-03-16 08:03] adroitwhiz opened #836 "Sprites disappear in "mystery mode""
### Expected Behavior

Mystery mode should make sprites look mysterious. Making them disappear entirely is far too mysterious.

### Actual Behavior

When mystery mode is enabled, sprites disappear:
![Peek 2021-03-16 04-01](https://user-images.githubusercontent.com/25993062/111275279-6066a000-860c-11eb-8e53-41d02f3379bf.gif)

### Steps to Reproduce

1. Set up `scratch-gui` and `scratch-render` loca

[2021-03-19 01:51] #836 closed, assigned to nobody

[2021-03-25 23:13] #814 closed, assigned to nobody

[2021-05-14 18:23] cwillisf opened #896 "npm-published packages should follow semver"
### Expected Behavior

Scratch projects published to npm should use semver version numbers >= 1.0 so that dependents can control when to accept breaking changes.

### Actual Behavior

This repository uses "prerelease" version numbers like `0.1.0-prerelease.YYYYMMDDhhmmss` which contain no information about breaking changes.

[2021-06-08 00:15] AmazingMech2418 commented on #656
Would it be viable to refactor the collision algorithm to transfer the drawable to a 480x360 non-displaying canvas element that is used specifically for the collision algorithms? Canvas size in pixels is clearly the issue here, and of course, it would not be ideal to change the entire rendering system to use only 480x360 since it would ruin image quality, but for collision detection, it might work

[2021-06-08 01:35] adroitwhiz commented on #656
It already does collision detection at 480x360. This is a subtler issue involving mipmaps.

While I know your intentions are good, it looks like you've been glancing at a *lot* of issues then trying to explain them, sometimes incorrectly, to people who already know what you're trying to explain to them, and I don't think that accomplishes much.

[2021-06-29 20:35] #816 closed, assigned to nobody

[2021-06-29 21:07] #545 closed

[2021-06-29 21:07] #558 closed

[2021-06-30 07:13] adroitwhiz commented on #550
@cwillisf I accidentally put another autoclose keyword in #745; mind reopening this?

I really appreciate you taking the time to review my renderer PRs, by the way. Thanks for coming back to them!

[2021-07-27 20:31] cwillisf opened #945 "scratch-render currently fails scratch-gui tests"
### Actual Behavior

Recent changes in scratch-render are causing this test to fail in scratch-gui:

[code]

See also LLK/scratch-gui#7406

Running the test non-headless, it looks like the costume tab is reporting 0x0 for the size of the costume, where it should be 100x100. Interacting with the paint editor causes the costume size to update, so it's probably just an order-of-operations problem whe

[2021-07-27 20:42] cwillisf commented on #945
@adroitwhiz do you have any thoughts on this? Is it that callback that I asked you to change? 😅😬

[2021-07-28 00:06] adroitwhiz commented on #945
It is the callback but something that I overlooked. We're setting the skin's `size` inside the callback, but the VM queries it right away.

The short-term solution would be to set the skin's `size` outside the callback but only emit a `WasAltered` event inside the callback, so that the skin doesn't appear "stretched" while we're waiting for the new image to load--it's a short-term solution because

[2021-08-19 22:10] #945 closed, assigned to nobody

[2021-08-30 10:28] renovate[bot] opened #950 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/scratchfoundation/scratch-render).

## Repository Problems

These problems occurred while renovating this repository. [View logs](https://developer.

[2021-10-27 18:31] cwillisf commented on #230
We ran into a case where a particular hardware + software configuration doesn't work with WebGL 1 but does work with WebGL 2 (LLK/scratch-android#401). After discussing that with the rest of the engineering team, and some follow-up discussion with @kchadha, we decided to:

1. Introduce #953 -- effectively "WebGL 1 first, with WebGL 2 fallback" -- to fix the immediate problem, and
2. Consider switc

[2021-11-15 08:29] SmearyThrower opened #957 "scratch on firefox runs slower than chrome"
### Expected Behavior

_Please describe what should happen_ Scratch runs at the same speed on both chrome and Firefox

### Actual Behavior

_Describe what actually happens_ scratch projects run at a noticeably slower fps on Firefox than chrome

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

Steps to reproduce the behavior:
1.

[2021-11-15 09:04] adroitwhiz commented on #957
Firefox in general appears to be slower than Chrome, and this isn't Scratch's fault. WebGL performance in particular seems to suffer, but most JS stuff performs worse than in Chrome.

If you can provide a specific example project that's particularly laggy in Firefox compared to Chrome, I can try to look into why it's slow and look into the specific parts that are causing the slowdown.

[2021-11-18 21:34] #957 closed, assigned to nobody

[2021-11-18 21:35] BryceLTaylor commented on #957
Closing.  See the comment from @adroitwhiz .

[2021-12-16 21:58] #549 closed

[2022-01-13 09:27] juliandierker opened #959 "Cannot find module '!ify-loader!linebreak'"
### Expected Behavior

Hey guys I would love to test your render package in my application but I'm struggling a little bit getting the depencies together.

### Actual Behavior

I wrote a compontent using your package like in the coding-example just translated to es6:
`import { canvas as renderer } from "scratch-render";
....
`

### Steps to Reproduce

When i try to reach the site where i use the s

[2022-01-13 10:39] juliandierker commented on #959
to be more concrete about the unresolved modules: I get:

`Unable to resolve some modules:
  "raw-loader!./shaders/sprite.vert" in /home/juliandierker/projects/PearUp/node_modules/scratch-render/src/ShaderManager.js
(web.browser.legacy)
  "raw-loader!./shaders/sprite.frag" in /home/juliandierker/projects/PearUp/node_modules/scratch-render/src/ShaderManager.js
(web.browser.legacy)
  "base64-loader!

[2022-01-13 15:13] apple502j commented on #959
Which Webpack version are you using?

[2022-01-13 16:29] juliandierker commented on #959
Thx for the feedback: I'm trying to use your package in a meteor.js application - meteor has it's own buildsystem and is currently running in version 2.1.1

the buildsystem is described here https://guide.meteor.com/build-tool.html

[2022-01-13 16:33] apple502j commented on #959
This should build fine using npm with webpack - the `!ify-loader!` syntax is Webpack-specific. I am unsure if it's possible to mix them, but I've heard some tried.

[2022-01-13 17:45] juliandierker commented on #959
this helps a lot. we will now be able to figure this out i hope :D

[2022-01-20 16:38] juliandierker commented on #959
I'm currently making babysteps to get your package running in meteor envoirement and finally I'm trying to display your render example from https://github.com/LLK/scratch-render#readme

there a new Error appears: `Uncaught TypeError: renderer.connectWorker is not a function
    at eval`...

[2022-01-20 16:38] juliandierker commented on #959
my react-code is:

[code]

[2022-01-20 17:01] apple502j commented on #959
@juliandierker That part of README is wrong. Renderer does not support workers.

[2022-01-20 17:15] juliandierker commented on #959
thx for the feedback - is there any other working example for a client side rendering?

[2022-01-20 19:01] juliandierker commented on #959
commenting out the "worker part" is not throwing any exceptions anymore and i see the white canvas now but no `playground`

[2022-01-25 10:57] juliandierker commented on #959
If there is no other working example I would maybe consider to embed scratch over LTI-Interface in my learning-envoirment? Do you know if there are working examples where scratch is used in a propper learning envoirment?

Thx for the support.

[2022-01-25 13:21] apple502j commented on #959
@juliandierker Renderer does not function on its own. You need to attach something that instructs a renderer, like a Scratch virtual machine. Scratch GUI is a react component and can be used in React programs. Scratch itself can be used in a proper learning environment - just not the one teachers usually want, i.e. telling a student to create the same script as a teacher and scoring based on the a

[2022-02-08 08:47] Norbiros opened #961 "Question while developing"
Hello!
I was creating addon for scratch and I found problem. I want to get which sprite player clicked in scene. Something like on click event, but in JS - not in scratch. For example when you click on sprite `Cat`, it will return it id or object and execute some code. I know it is possible, because you can move sprite on scene - it detects which sprite you clicked and it moves it to mouse positio

[2022-02-08 09:00] Norbiros commented on #961
I found this `_activateClickHats` - but how i can acces it? `vm._activateClickHats`?

If i understeand good i must create something like this:
`On sprite summon >> add event listener to it >> when it fires - i know which sprite was clicked`

[2022-02-08 09:52] apple502j commented on #961
https://github.com/LLK/scratch-gui/blob/develop/src/containers/stage.jsx#L216

[2022-02-16 17:14] ScolderCreations opened #963 "Renderer crashes easily on iOS/iPadOS"
### Expected Behavior

A project should be able to run without having the display disappear.

### Actual Behavior

Project stages commonly turn completely transparent, with the only things updating visually being lists and variables.

### Steps to Reproduce

Steps to reproduce the behavior:
1. Go to any complex project, such as 'https://scratch.mit.edu/projects/522034803'
2. Click the green flag a

[2022-02-16 17:57] adroitwhiz commented on #963
It looks like Safari 15 contains a lot of under-the-hood changes to its WebGL implementation. A lot of [other people are reporting issues](https://discourse.threejs.org/t/textures-in-gltf-sometimes-display-black-but-only-on-ios/30520) as well.

This may resolve itself as Apple works out these bugs.

[2022-04-14 20:58] #510 closed

[2022-05-01 19:01] AlexDev404 opened #975 "SVG WebFont Families DO NOT Import Properly"
### Expected Behavior

Imported SVG with font-family ['Lobster'](https://fonts.google.com/specimen/Lobster) defined in the `<defs>` tag as a stylesheet which was later imported into the Scratch Editor.

#### Attempt 1

[code]

This **did not** work. I then tried using another method which included importing the font directly from the code.

#### Attempt 2

[code]

This also **did not** work.

###

[2022-05-05 20:33] BryceLTaylor commented on #975
It is intentional to block network requests from inside SVGs.

[2022-05-05 20:33] #975 closed, assigned to nobody

[2022-08-12 07:08] Joeclinton1 opened #992 "Silhouette unnecessarily stores transparent pixels"
### Actual Behavior

In a vector costume, if you place an image at the center and put an invisible element  surrounding the image, the silhouette increases even though the extra space is just transparent pixels.

I have a project where i'm trying to stretch costumes through the use of fisheye and a very large invisible rectangle placed around the image in the costume, the image is only 100x100px,

[2022-08-12 07:13] Joeclinton1 commented on #584
Perhaps you could consider storing the silhouette as a quadtree. Quad trees are an efficient method of compression which unlike many other compression techniques still allow you to perform a pixelColour lookup operation in sublinear time. (specifically `O(log(n))` ).

This method would greatly reduce ram usage for costumes with large amounts of solid colour, or large amounts of transparent pixels.

[2022-08-12 09:04] adroitwhiz commented on #992
This is a lot of effort to go through to support a very niche edge case. Keep in mind as well that the GPU will have to render a 4000x4000 texture (actually clamped to 2048x2048 because some mobile GPUs don't even support anything above that, making the cat appear blurry in the project you linked), meaning the sprite will also consume quite a bit of VRAM.

GPU-side texture compression is highly pl

[2022-08-12 09:50] Joeclinton1 commented on #992
@adroitwhiz That's fair. Thank you for taking time out of your schedule to read and understand my issue. It's understandable that if in regular use the problem does not occur, it is not worth the time to solve.

[2022-08-18 14:14] cwillisf commented on #992
Thanks for the suggestion, @Joeclinton1! I agree that silhouettes could be optimized, but I also agree with @adroitwhiz that this particular optimization probably wouldn't benefit most projects.

[2022-08-18 14:14] #992 closed, assigned to nobody

[2022-08-18 15:50] Joeclinton1 commented on #584
@adroitwhiz The first method of just not creating the silhouette array until it's needed (by _touching colour_) would be quite effective. The projects on Scratch which use lots of large costumes use them mostly to display frame by frame videos, for art, or for backgrounds. In most cases, these large costume sprites will not need the _touching colour_ functionality, so if by default the silhouette

[2022-08-18 16:11] cwillisf commented on #584
@Joeclinton1, I like these ideas! It sounds like there's a lot of alignment between your suggestion and some of @adroitwhiz's earlier comments, especially the first bullet point in the initial post on this issue.

As a non-profit organization, the Scratch team always runs a little lean. Right now we're stretched extra thin, though, so unfortunately I'm not likely to be able to implement this kind

[2022-08-18 16:37] Joeclinton1 commented on #584
@cwillisf Yes, this idea is really just [adroitwhiz](https://github.com/adroitwhiz)'s first bullet point.  I read over it a second time today, and realized that it was quite a good solution!

I'll try and give it a go myself and will be sure to take into account the linked issues. Currently the silhouette size is problematic to my next project, so I'm quite incentivized to improve it ;)

I'll test

[2022-08-19 09:19] #961 closed, assigned to nobody

[2022-08-20 09:41] AntoineTelgruc2 opened #993 "Pen transparency bugs with thin lines rendering"
### Expected Behavior

I was making a color table for some reason, and I found a way to make the rendering fast drawing a lot of vertical color lines and drawing above horizontal lines with different pen transparency

### Actual Behavior

Time to time, while rendering the table, the transparent lines are making some wierd glitched bue and white "chunks"

### Steps to Reproduce

I shared a project

[2022-08-20 10:08] adroitwhiz commented on #993
The fact that this doesn't happen consistently (rendering the exact same line in the exact same place with the same thickness and color will sometimes work and sometimes glitch) suggests that this is a bug with your graphics card or graphics driver. Unfortunately, there's not much that can be done about that on Scratch's end.

[2022-08-25 14:52] cwillisf commented on #993
I agree with @adroitwhiz that it's probably a bug in the GPU or its driver. In some cases, we're able to work around this kind of bug by adjusting the way we draw things. I can't be sure that we'll be able to in every case, but I appreciate the report!

[2022-09-18 04:47] AlexDev404 commented on #975
Is there any reason to why this is intentional?

[2022-09-18 19:46] apple502j commented on #975
Scratch projects are designed to be entirely sandboxed and not contact external websites.